apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-completion-handler
  labels:
    app: task-completion-handler
    platform: oaas
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-completion-handler
      platform: oaas
  template:
    metadata:
      labels:
        app: task-completion-handler
        platform: oaas
    spec:
#      nodeSelector:
#        oaas.group: test
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: task-completion-handler
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: task-completion-handler
          envFrom:
            - configMapRef:
                name: oaas-env
          image: ghcr.io/hpcclab/oaas/task-completion-handler
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: 1G
              cpu: '8'
            requests:
              cpu: '0.5'
              memory: 256M
          imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: task-completion-handler
  annotations:
    service.kubernetes.io/topology-aware-hints: auto
spec:
  selector:
    app: task-completion-handler
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
