name: Platform Container Build

on:
  push:
    branches:
      - "**"
#    branches:
#      - 'dev'
#      - "features/**"
    tags:
      - 'v*'
      -

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      CONTAINER_PUSH: ${{ github.event_name != 'pull_request' && !startsWith(github.ref_name, 'dependabot')}}
#      BASE_IMAGES: eclipse-temurin:17-jre-ubi9-minimal
      BASE_IMAGES: azul/zulu-openjdk:21-jre
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'zulu'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
        cache: 'maven'
    - name: set container tag
      run: |
        if [[ $GITHUB_REF_NAME == 'main' ]]; then
          echo "TAG=:latest" >> "$GITHUB_ENV"
        else
          echo "TAG=:${GITHUB_REF##*/}" >> "$GITHUB_ENV"
        fi
        CI_REGISTRY_IMAGE=ghcr.io/$GITHUB_REPOSITORY
        echo "CI_REGISTRY_IMAGE=${CI_REGISTRY_IMAGE,,}" >> "$GITHUB_ENV"

    - name: Build and test project (platforms)
      run: mvn -B install

    - name: Build and push container image with Jib (platforms)
      if: env.CONTAINER_PUSH
      run: mvn -B -DskipTests package --file pom.xml -Dquarkus.container-image.username=${{ github.actor }} -Dquarkus.container-image.password=${{ secrets.GITHUB_TOKEN }} -Dquarkus.container-image.build=true -Dquarkus.container-image.push=true "-Dquarkus.jib.base-jvm-image=${BASE_IMAGE}"

    - name: Build and test project (concat)
      working-directory: example/functions/concat-fn-java
      run: mvn -B package --file pom.xml

    - name: Build and push container image with Jib (concat)
      working-directory: example/functions/concat-fn-java
      run: mvn -B -DskipTests package --file pom.xml -Dquarkus.container-image.username=${{ github.actor }} -Dquarkus.container-image.password=${{ secrets.GITHUB_TOKEN }} -Dquarkus.container-image.build=true -Dquarkus.container-image.push=$CONTAINER_PUSH -Dquarkus.container-image.image="$CI_REGISTRY_IMAGE/concat-fn-java$TAG" "-Dquarkus.jib.base-jvm-image=${BASE_IMAGE}"

#    - name: Build container image with Jib (native image)
#      run: export CI_REGISTRY_IMAGE="${CI_REGISTRY_IMAGE,,}";export tag=":native-${GITHUB_REF##*/}";mvn -B install --file pom.xml -Dquarkus.container-image.username=${{ github.actor }} -Dquarkus.container-image.password=${{ secrets.GITHUB_TOKEN }} -Dquarkus.container-image.build=true -Dquarkus.container-image.push=true -Dnative -Dquarkus.native.container-build=true -DskipTests
#      env:
#        CI_REGISTRY_IMAGE: ghcr.io/${{ github.repository }}
